/* Arrow & Hover Animation */
#arrows {
  width: 75px;
  height: 65px;
}
#arrows:hover {
  polygon {
    fill: #FFF;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;

    &.bottom {
      -webkit-transform: translateY(-18px);
      transform: translateY(-18px);
    }

    &.top {
      -webkit-transform: translateY(18px);
      transform: translateY(18px);
    }
  }
}

.middle, .top, .bottom {
  fill: #FFF;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

polygon.middle {
  opacity: 0.75;
}
polygon.top {
  opacity: 0.5;
}
