.hero {
  /* TEXT */
  color: white;

  /* BACKGROUND */
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(/images/studio.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* SIZING */
  padding: 2rem 120px 0 80px;
  min-height: 500px;
  height: 100vh;

  /* DISPLAY */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 4rem;
  margin-bottom: 6rem;
}

.description, .full-description {
  font-size: 3.7rem;
}

.full-description {
  display: none;
}

.down {
  align-self: center;
  margin-top: 15vh;
}

.two-buttons {
  display: flex;
  margin: 2rem 5vw;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-height: 615px) {
  .down {
    display: none;
  }
}

/* SMALL DEVICES */
@media only screen and (max-width: 800px) {
  .hero {
    padding: 1rem 20px;
  }

  .title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 2.5rem;
    text-align: center;
  }

  .two-buttons {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .down {
    display: block;
    margin-top: 1rem;
  }
}

/* LARGE DEVICES */
@media only screen and (min-width: 2000px) {
  .hero {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .title {
    font-size: 4.4rem;
  }

  .description, .full-description {
    font-size: 4rem;
    display: block;
    max-width: 1800px;
  }
}


/* SKILLS SECTION */
.grid {
  --gap-size: 8vw;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  grid-gap: 8rem var(--gap-size);
  padding: 6rem 0 6rem var(--gap-size);
}

.category ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.category li {
  margin: 0.5rem 0;
}


.category > h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  color: var(--primary);
  letter-spacing: 0.5rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 2.5rem;
}
