.container {
  min-width: 100vw;
  overflow: visible;
}

.main {
  width: fit-content;
}

.italic {
  font-size: 2.5rem;
  font-style: italic;
}

/* HERO SECTION */

.hero {
  /* TEXT */
  color: white;

  /* BACKGROUND */
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(/images/studio.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* SIZING */
  padding: 2rem 12rem 0 12rem;
  min-height: 500px;
  height: 100vh;

  /* DISPLAY */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 4rem;
  margin: 2rem 0 6rem 0;
}

.description, .full-description {
  font-weight: 300;
  font-size: 3.7rem;
}

.full-description {
  display: none;
}

.down {
  align-self: center;
  margin-top: 15vh;
}

.two-buttons {
  display: flex;
  margin: 2rem 5vw;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-height: 615px) {
  .down {
    display: none;
  }
}

/* SMALL DEVICES */
@media only screen and (max-width: 800px) {
  .hero {
    padding: 1rem 20px;
  }

  .title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 2.5rem;
    text-align: center;
  }

  .two-buttons {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .down {
    display: block;
    margin-top: 1rem;
  }
}

/* LARGE DEVICES */
@media only screen and (min-width: 2200px) {
  .hero {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .title {
    font-size: 4.4rem;
    margin-bottom: 8rem;
  }

  .description, .full-description {
    font-size: 4rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    text-align: center;
    display: block;
    max-width: 1800px;
  }
}


/* SKILLS SECTION */
.grid {
  --gap-size: 8vw;
  display: grid;
  min-height: 80vh;
  grid-template: min-content repeat(2, 1fr) / repeat(2, 1fr);
  grid-template-areas:  'heading heading'
                        'content content'
                        'content content';
  grid-gap: 6rem var(--gap-size);
  padding: 6rem 0 6rem var(--gap-size);
}

.grid > h2 {
  grid-area: heading;
  margin: 0;
}

.category ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.category li {
  margin: 0.5rem 0;
}


.category > h3 {
  text-transform: uppercase;
  font-size: 1.6rem;
  color: var(--primary);
  letter-spacing: 0.5rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 2.5rem;
}


/* PROJECTS SECTION */
.stack {
  display: grid;
  grid-template: auto / 1fr;
  padding: 0 4rem;
  gap: 5rem;
  margin-bottom: 8rem;
}

@media only screen and (min-width: 1680px) {
  .stack {
    grid-template: auto / repeat(2, 1fr);
  }
}

@media only screen and (min-width: 2500px) {
  .stack {
    grid-template: auto / repeat(3, 1fr);
  }
}

/* CONTACT SECTION */
.contact {
  padding: 0 4rem;
  margin: 10rem 0;
  text-align: center;
}

.contact h2 {
  font-size: 3rem;
  font-style: italic;
}

.links {
  display: flex;
  justify-content: center;
}

.contact svg {
  color: var(--primary);
  height: 3rem;
  margin-right: 6px;
  width: 3rem;
}

.contact a {
  margin: 0 1.5vw;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

