@use './foundations/colors' as *;
@use './foundations/mixins' as mx;

.container {
  min-width: 100vw;
  overflow: visible;
}

.main {
  width: fit-content;
  position: relative;
}

.italic {
  font-size: 2.5rem;
  font-style: italic;
}

#top {
  position: fixed;
  z-index: 2;
  bottom: 25px;
  right: 20px;
  font-size: 3rem;
}

/* HERO SECTION */

.hero {
  /* TEXT */
  color: white;

  /* BACKGROUND */
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(/images/studio.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* SIZING */
  padding: 2rem 12rem 0 12rem;
  min-height: 500px;
  height: 100vh;

  /* DISPLAY */
  @include mx.flex-column
}

.title {
  font-size: 4rem;
  margin: 2rem 0 6rem 0;
}

.description, .full-description {
  font-weight: 300;
  font-size: 3.7rem;
}

.full-description {
  display: none;
}

.down {
  align-self: center;
  margin-top: 15vh;
}

.two-buttons {
  display: flex;
  margin: 2rem 5vw;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-height: 615px) {
  .down {
    display: none;
  }
}

/* SMALL DEVICES */
@media only screen and (max-width: 800px) {
  .hero {
    padding: 1rem 20px;
  }

  .title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 2.5rem;
    text-align: center;
  }

  .two-buttons {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .down {
    display: block;
    margin-top: 1rem;
  }
}

/* LARGE DEVICES */
@media only screen and (min-width: 2200px) {
  .hero {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .title {
    font-size: 4.4rem;
    margin-bottom: 8rem;
  }

  .description, .full-description {
    font-size: 4rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    text-align: center;
    display: block;
    max-width: 1800px;
  }
}


/* SKILLS SECTION */
.grid {
  $gap-size: 8vw;
  display: grid;
  min-height: 80vh;
  grid-template: min-content repeat(2, 1fr) / repeat(2, 1fr);
  grid-template-areas:  'heading heading'
                        'content content'
                        'content content';
  grid-gap: 6rem $gap-size;
  padding: 6rem 0 6rem $gap-size;

  > h2 {
    grid-area: heading;
    margin: 0;
  }

  @media only screen and (max-width: 374px) {
    grid-template: min-content 1fr /1fr;
    grid-template-areas: 'heading' 'content';
    padding-right: 8vw;
  }
}

.category {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0.5rem 0;
  }

  > h3 {
    text-transform: uppercase;
    font-size: 1.6rem;
    color: $primary;
    letter-spacing: 0.5rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 2.5rem;
  }
}


/* PROJECTS SECTION */
.cards-container {
  display: grid;
  grid-template: auto / 1fr;
  padding: 0 4rem;
  gap: 5rem;
  margin-bottom: 8rem;
}

@media only screen and (min-width: 1680px) {
  .cards-container {
    grid-template: auto / repeat(2, 1fr);
  }
}

@media only screen and (min-width: 2500px) {
  .cards-container {
    grid-template: auto / repeat(3, 1fr);
  }
}

/* CONTACT SECTION */
.contact {
  padding: 0 4rem;
  margin: 10rem 0;
  text-align: center;
  h2 {
    font-size: 3rem;
    font-style: italic;
  }
  figure {
    /* RATIO: 2/3 */
    $size: 15vw;
    $max-size: 400px;
    width: calc($size * 3);
    height: calc($size * 2);
    max-width: calc($max-size * 3);
    max-height: calc($max-size * 2);
    position: relative;
    margin: 0 auto;

    @media only screen and (max-width: 768px) {
      $size: 20vw;
    }
  }

  a {
    margin: 0 1.5vw;
    font-weight: 400;
    text-transform: uppercase;
    @include mx.center-flex(align-items)
  }
}

.links {
  @include mx.center-flex(justify-content)
}

.contact .links svg {
  color: $primary;
  height: 3rem;
  margin-right: 6px;
  width: 3rem;
}

@media only screen and (max-width: 767px) {
  .contact {
    a {
      margin: 1.5vh 0;
    }
  }

  .side-contact {
    @include mx.center-flex(justify-content);
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    max-width: 90vw;
  }

  .links {
    flex-direction: column;
  }
}

