.project {
  height: 480px;
  display: flex;
  box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.1);
  background: #D2F3F4;
}

.project:nth-child(even) {
  flex-direction: row-reverse;
}

.content {
  overflow-y: auto;
  flex: 1;
  padding: 3rem 4rem;
  font-weight: 400;
}

.content > span {
  background: var(--light);
  font-size: 1.2rem;
  padding: 0.5rem;
}

.content > h3 {
  text-transform: uppercase;
  margin: 1rem 0;
  font-size: 4rem;
  font-weight: 700;
}

.content > p {
  margin: 2.6rem 0;
  font-size: 1.6rem;
}

.content > a {
  margin: 0;
}

.cover {
  object-fit: cover;
  height: 100%;
}

/* SMALL DEVICES */
@media only screen and (max-width: 800px) {
  .project, .project:nth-child(even) {
    flex-direction: column-reverse;
    height: fit-content;
  }

  .content > span {
    font-size: 1.5rem;
  }

  .content > h3 {
    margin-top: 2rem;
    line-height: 105%;
  }

  .content > p {
    margin: 1.8rem 0;
    font-size: 1.9rem;
  }
  .content > a {
    width: 100%;
  }
}
